@model Casgem_MongoDbConsume.DTOs.Estate
@{
    ViewData["Title"] = "UpdateEstate";
    var userName = ViewData["UserName"] as string;
    Layout = null;
    int count = 0;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Emlak ADMIN</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/admintemplate/dist/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/admintemplate/dist/assets/css/style.css">



</head>
<body class="">
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar  ">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ">

                <div class="">
                    <div class="main-menu-header">
                        <img class="img-radius" src="~/admintemplate/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
                        <div class="user-details">
                            <span>Admin</span>
                            <div></div>
                        </div>
                    </div>
                </div>

                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


        <div class="m-header">
            @*    <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>*@
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="~/admintemplate/dist/assets/images/logo.png" alt="" class="logo">
                <img src="~/admintemplate/dist/assets/images/logo-icon.png" alt="" class="logo-thumb">
            </a>
            @* <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
            </a>*@
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle h-drop" href="~/Default/Index">
                            @ViewBag.UserName - Çıkış Yap
                        </a>
                    </div>
                </li>

                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-user"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>


    </header>

    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            <!-- [ Main Content ] start -->

            <section class="locations-1" id="searchResults">
                <div class="locations py-5">
                    <div class="container py-lg-5 py-md-4 py-2">
                        <form method="post">
                            @Html.HiddenFor(x => x.Id)

                            @Html.Label("Başlık")
                            @Html.TextBoxFor(x => x.Title, new {@class="form-control"})
                            <br />
                            @Html.Label("Fiyat")
                            @Html.TextBoxFor(x => x.Price, new {@class="form-control"})
                            <br />
                            @Html.Label("Şehir")
                            @Html.TextBoxFor(x => x.City, new {@class="form-control"})
                            <br />
                            @Html.Label("Oda Sayısı")
                            @Html.TextBoxFor(x => x.Room, new {@class="form-control"})
                            <br />
                            @Html.Label("Tip")
                            @Html.TextBoxFor(x => x.Type, new {@class="form-control"})
                            <br />
                            @Html.Label("Yapılış Yılı")
                            @Html.TextBoxFor(x => x.BuildYear, new {@class="form-control"})
                            <br />
                            <button class="btn btn-success">Güncelle</button>
                        </form>
                    </div>
                </div>
            </section>
            <!-- [ Main Content ] end -->
        </div>

    </div>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="~/admintemplate/dist/assets/js/vendor-all.min.js"></script>
    <script src="~/admintemplate/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/admintemplate/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <script src="~/admintemplate/dist/assets/js/plugins/apexcharts.min.js"></script>


    <!-- custom-chart js -->
    <script src="~/admintemplate/dist/assets/js/pages/dashboard-main.js"></script>
</body>

</html>
